@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
.box-text {
    box-shadow: 0px 1px 4px 1px;
    height: 100%;
    top: 0px;
    left: -50px;
    position: relative;
    background-color: white;
}

.img-cls{
    width: 70%;
    padding: 10%;
}

.padd-rt{
    padding-right: 3%;
}
.font-span{
    font-size: 12px;
    line-height: 1.2em;
}
button.btn.btn-reveal, .btn:not(.close):not(.mfp-close).btn-reveal, a.btn:not([href]):not([tabindex]).btn-reveal {
    padding: 14px 29px !important;
}
.heading-text{margin: 0 !important;}
.about-me span{
    font-size: 15px;
    line-height: 2.2rem;
}
.team-members .team-member .team-desc>p {
    margin-top: 10px;
    font-size: 13px !important;
}


@media (max-width: 575.98px) { 
    .about-me span {
        font-size: 14px;
        line-height: 1.9rem;
    }
    .team-members.team-members-left .team-member .team-image {
        float: left;
        width: 100%;
        margin-bottom: 0;
    }

    .team-members.team-members-left .team-member .team-desc {
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-left: 0px;
    }
 }

